.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 30px;

    @media only screen and (max-width: 655px) {
        height: 100%;
    }

    header {
        img {
            margin-top: 60px;
            width: 70px;
        }
    }

    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;

        h2,
        h2 span {
            color: hsl(0, 0%, 59%);
            font-size: 40px;
            font-weight: 300;
            margin-bottom: 10px;

            @media only screen and (max-width: 630px) {
                font-size: 25px;
                margin-bottom: 20px;
            }
        }

        h2 span {
            color: #000;
            font-weight: 700;
        }

        h3 {
            font-weight: 300;
            margin-bottom: 30px;

            @media only screen and (max-width: 630px) {
                font-size: 13px;
            }
        }

        form {
            display: flex;
            gap: 12px;
            margin-bottom: 70px;
            position: relative;
            width: max-content;

            @media only screen and (max-width: 630px) {
                flex-direction: column;
                gap: 7px;
            }

            .alertOff {
                color: hsl(354, 100%, 66%);
                display: none;
                font-size: 12px;
                position: absolute;
                left: 26px;
                top: 50px;
            }

            .alertOn {
                color: hsl(354, 100%, 66%);
                display: block;
            }

            .alertOn,
            .alertOff {
                font-size: 12px;
                position: absolute;
                left: 26px;
                top: 50px;

                @media only screen and (max-width: 630px) {
                    position: static;
                    margin-bottom: 20px;
                    text-align: center;
                }

            }

            .emailOff,
            .emailOn {
                border-radius: 50px;
                line-height: 44px;
                outline: none;
                padding-left: 25px;
                padding-right: 145px;

                @media only screen and (max-width: 630px) {
                    padding-left: 25px;
                    padding-right: 90px;
                }
            }

            .emailOff {
                border: 1px solid #a8a8a870;

                &::placeholder {
                    color: #a8a8a870;
                }
            }

            .emailOn {
                border: 1px solid hsl(354, 100%, 66%);

                &::placeholder {
                    color: #a8a8a870;
                }
            }



            input[type="submit"] {
                background-color: hsl(223, 87%, 63%);
                border: none;
                border-radius: 50px;
                box-shadow: 1px 1px 12px -4px hsl(223, 87%, 63%);
                color: white;
                cursor: pointer;
                font-size: 13px;
                padding: 15px 55px;
                font-weight: 600;

                &:hover {
                    background-color: hsl(223, 98%, 68%);
                }
            }
        }

        img {
            max-width: 560px;
            width: 100%;
        }
    }

    footer {
        .icons {
            align-items: center;
            display: flex;
            gap: 20px;
            justify-content: center;
            margin-top: 67px;



            .icon {
                border: 1px solid hsla(0, 0%, 59%, 0.233);
                border-radius: 20px;
                display: flex;
                justify-content: center;
                padding: 6px;

                &:hover {
                    background-color: hsl(223, 98%, 68%);

                    svg {
                        color: white !important;
                    }
                }
            }


        }

        p {
            color: hsl(0, 0%, 59%);
            cursor: default;
            font-size: 10px;
            margin: 30px 0px;
        }
    }
}