@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}